.next/dev/cache/turbopack/e0739832/00000038.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000039.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000192.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000193.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000521.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000522.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000582.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00000583.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00001037.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00001038.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00001886.sst filter=lfs diff=lfs merge=lfs -text
.next/dev/cache/turbopack/e0739832/00001887.sst filter=lfs diff=lfs merge=lfs -text

# Preserve execute permissions for shell scripts
android/gradlew text eol=lf
android/**/*.sh text eol=lf
